
    <ng-container  *ngIf="productCartItems.length > 0">
    <div class="h-[600px] w-[1100px] flex flex-col gap-[10px]">
        <div class=" w-[15%] h-[100%] border-r-[1px] ">
            <mat-dialog-actions align="center" class=" w-full h-full flex flex-row justify-center">
              
                <div class="flex flex-row mt-1 gap-[20px] w-[12rem] h-[100%] justify-center items-center ">
                    <div class="flex flex-row mt-1 gap-[20px] w-[12rem] h-[100%] justify-center items-center " >
                        <button mat-stroked-button color="primary"
                                class="relative w-full h-[48px] bg-blue-500 text-white rounded flex items-center justify-center"
                                (click)="completeInvoice()"
                               >
                            <span>Complete Invoice</span>
                        </button>
                        <button mat-stroked-button color="warn"
                                class="relative w-full h-[48px] bg-blue-500 text-white rounded flex items-center justify-center"
                                (click)="openPDF()"
                               >
                            <span>Print Invoice</span>
                        </button>
                        <button mat-stroked-button color="accent"
                                class="relative w-full h-[48px] bg-blue-500 text-white rounded flex items-center justify-center"
                                (click)="openMailForm()"
                               >
                            <span>Open Email Form</span>
                        </button>
                    </div>               
                </div>
            </mat-dialog-actions>
        </div>
        <div class="w-[100%] h-[100%]" >
           
            <app-invoice-template-for-customer id="invoice" [payList]="paymentsList">
            </app-invoice-template-for-customer>
       
        </div>
    </div>
</ng-container>
    <ng-container *ngIf="productCartItems.length <= 0">
        
        <mat-dialog-content class="bg-red-600 w-full h-full font-bold">
            <div class="text-lg text-black font-sans text-center">
               Add Products!
            </div>
            <div class="text-sm text-white font-sans text-center">
                No Products has been added into the Cart. <br>
                Add Products to generate an Invoice! 
            </div>
        </mat-dialog-content>
    
    </ng-container>