::ng-deep .custom-toggle-group .mat-button-toggle-checked {
    background-color: #7d2a8df8;
    color: white;
}

::ng-deep .custom-toggle-group .mat-button-toggle-label-content {
    display: flex;
    justify-content: center;
}

.mat-button-toggle-group {
    border-radius: 2rem;

}

.custom-toggle-button {
    width: 50% !important;
    height: 3rem;
    font-size: 1.2rem;
}