<!-- <div class="h-full w-full grid grid-cols-5 gap-[16px]" [ngClass]="{'grid-cols-4': userRole === 'user'}">
    <mat-card  *ngFor="let card of filteredCards" routerLink="/{{ card.route }}"
        class="!m-0 !h-full !w-full flex flex-col items-center justify-center gap-y-[16px] object-fill">
        <mat-card-header class="flex align-middle justify-center !p-0">
            <mat-card-subtitle class="font-bold text-[#382e59] dark:text-white">{{ card.name | uppercase}}</mat-card-subtitle>
        </mat-card-header>
        <div class="img-cont flex items-center">
            <img mat-card-image src="{{ card.imageUrl }}" class="object-contain" />
        </div>
    </mat-card>
</div> -->
<div class="h-full w-full grid grid-cols-5 gap-[16px]" [ngClass]="{'grid-cols-4': userRole === 'user'}">
    <mat-card *ngFor="let card of filteredCards" 
              [routerLink]="card.disabled ? null : card.route" 
              [ngClass]="{'disabled-card': card.disabled}"
              class="!m-0 !h-full !w-full flex flex-col items-center justify-center gap-y-[16px] object-fill">
        <mat-card-header class="flex align-middle justify-center !p-0">
            <mat-card-subtitle class="font-bold text-[#382e59] dark:text-white">{{ card.name | uppercase }}</mat-card-subtitle>
        </mat-card-header>
        <div class="img-cont flex items-center">
            <img mat-card-image src="{{ card.imageUrl }}" class="object-contain" />
        </div>
    </mat-card>
</div>
