<mat-dialog-content class="w-[full] pt-[15px] px-[5px]  flex flex-col justify-center">
    <div mat-dialog-title class="text-sm text-center">
        Create Purchase invoice
    </div>
    <form [formGroup]="purchaseInvocieForm" class="flex flex-col justify-evenly gap-[20px]">

        <mat-form-field>
            <mat-label>Invoice Ref</mat-label>
            <input matInput type="text" formControlName="purchaseInvoiceNO">
            <mat-error *ngIf="purchaseInvocieForm.get('purchaseInvoiceNO')?.errors">This field is
                required!</mat-error>

        </mat-form-field>
        <div class="flex flex-row w-[100%] gap-[10px]">
            <mat-form-field class="w-full">
                <!-- [readonly]="purchaseList !== undefined" -->
                <mat-label>Vendor</mat-label>
                <input type="text" placeholder="Vendor" matInput formControlName="vendorOBJ"
                    [formControl]="vendorControl" [matAutocomplete]="auto">
                <mat-error *ngIf="purchaseInvocieForm.get('vendorOBJ')?.errors">This field is
                    required!</mat-error>
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <mat-option *ngFor="let aVendor of filterOptions | async" [value]="aVendor.vendorId">
                        <span class="font-bold">{{aVendor.vendorId}}|{{aVendor.vendorName}}</span>
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>



            <mat-form-field class="w-full">
                <mat-label>MM/DD/YYYY</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="purchasedDate">

                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-error *ngIf="purchaseInvocieForm.get('purchasedDate')?.errors">This field is
                    required!</mat-error>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
    </form>


</mat-dialog-content>
<mat-card-actions class=" flex flex-row justify-center items-center">
    <button [disabled]="purchaseInvocieForm.invalid" mat-raised-button color="primary"
        (click)="createTempPurchase()">Insert
        <mat-icon>add</mat-icon></button>
</mat-card-actions>