/* .main-container-userform {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    width: 40vw;
}


button.save {
    margin: 5px;
    transition: width .5s;
    width: 7rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

button.save:hover {
    width: 8rem;
}

.button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

:host ::ng-deep .mat-mdc-dialog-content {
    max-height: unset;
}


mat-form-field {
    width: 60vh;
} */