@import url(https://fonts.bunny.net/css?family=alata:400);

body {
  background-color: #f3f4f6;
  font-family: "Alata", sans-serif;

}
table.w-full th:not(.no-size-limit),
    table.w-full td:not(.no-size-limit) {
       
        height: 0.75cm;
    }