<ng-container class="grid">
    <!-- InvoiceTemplate -->
    <div class="">
        <div class="w-full h-auto px-[5px] relative">
            <div
                class="relative flex flex-row h-[180px] px-[10px] justify-between gap-[8px] ">
                <div class="flex flex-row gap-[10px] items-center pb-[80px]">
                    <div class="w-[80px] h-[80px]">
                        <img src="../../../assets/logo/logo2.png" alt="company-logo"
                            class="w-full h-full object-contain" />
                    </div>

                    <div class="h-[100px] flex flex-col items-center justify-center mb-[10px] font-semibold">
                        <div class="uppercase text-[26px] font-thin">COMFORT LINEN COMPANY (PVT) LTD</div>
                        <div class="text-[20px] pb-[5px]">Manufacturer of quilt & bed Linen</div>
                    </div>

                </div>

                <div class="flex items-center justify-center w-[220px] pb-[80px]">
                <!-- <div class="flex items-center justify-center w-[220px] "> -->
                    <img src="../../../../assets/icons/cherryb.png" alt="cherryb-logo" class="object-contain" />
                </div>
                <div class="text-left left-[100px] w-[680px] 
                      pb-[40px] pt-[15px] justify-center 
                     items-center absolute bottom-[5px] text-[16px]">

                    <div class=""><p class="text-lg font-bold">
                        Office : #33/24, Hekitta Lane, Wattala | Tel: 011-2985400 |<br>
                        Hot Line: 076-1382156 |Email :
                        info&#64;comfortlinenlk.com | www.cherryb.co
                    </p></div>
                </div>
            </div>



            <div class="flex flex-row items-center justify-between mb-[30px]">
                <div class="flex flex-col gap-y-[10px] w-[320px]">
                    <div class="flex flex-row">
                        <p class="text-[20px]">Billed to: </p>
                        <p class="text-[20px]  font-semibold uppercase"> {{this.selectedCustomer.custName}}</p>
                    </div>

                    <div class="flex flex-row">
                        <p class="text-[20px]">Address: </p>
                        <p class="text-[20px]  font-semibold">{{this.selectedCustomer.address}}</p>
                    </div>
                    <div class="flex flex-row">
                        <p class="text-[20px]">Contact: </p>
                        <p class="text-[20px]  font-semibold">{{this.selectedCustomer.contact}}</p>
                    </div>
                   <!--  <div class="flex flex-row">
                        <p class="text-[20px]">Email: </p>
                        <p class="text-[20px]  font-semibold"> {{this.selectedCustomer.email}}</p>
                    </div> -->

                </div>
                <div class="text-center flex items-center justify-center w-[180px]">
                    <img src="../../../../assets/invoice/Screenshot 2024-10-02 212843.png" alt="">
                </div>
                <div class="flex flex-col gap-y-[10px] text-right">
                    <div class="flex flex-row">
                        <p class="text-[20px]">Invoice No:</p>
                        <h1 class="text-[20px] font-semibold">{{this.invoiceNumber}}</h1>
                    </div>
                    <div class="flex flex-row">
                        <p class="text-[20px]">Invoice Date:</p>
                        <h1 class="text-[20px] font-semibold">{{this.today}}</h1>
                    </div>
                    <div class="flex flex-row">
                        <p class="text-[20px]">Invoice Time:</p>
                        <h1 class="text-[20px] font-semibold">{{getInvoiceTime()}}</h1>
                    </div>

                </div>
            </div>

            <table class="w-full text-base">
                <thead class="bg-slate-100 text-black border border-slate-500 ">
                    <tr>
                        <th class="pb-[20px] w-[40px] text-center"><p class="text-xl">REF</p></th>
                        <th class="pb-[20px] px-[16px] text-left"><p class="text-xl">DESCRIPTION</p></th>
                        <th class="pb-[20px] px-[10px] w-[50px] text-left"><p class="text-xl">QTY</p></th>
                        <th class="pb-[20px] px-[16px] w-[140px] text-center"><p class="text-xl">UNIT PRICE(Rs)</p></th>
                        <!-- <th class="pb-[20px] px-[5px] w-[40px] text-left"><p class="text-xl">
                            DISCOUNT</p>
                        </th> -->
                        <th class="pb-[20px] px-[16px] w-[150px] text-center"><p class="text-xl">TOTAL(Rs)</p></th>
                    </tr>
                </thead>
                <tbody class=" ">
                    <tr *ngFor="let item of this.productCartItems ;let i = index"
                        class="border-b border-l border-r border-slate-500">
                        <td class="pb-[20px] px-[5px] border-r text-center border-slate-500"><p class="text-xl">{{i+1}}</p></td>
                        <td class="pb-[20px] px-[16px] border-r border-slate-500"><p class="text-xl">{{item.stockOBJ.itemName}}</p></td>
                        <td class="pb-[20px] px-[5px] w-[40px] text-center border-r border-slate-500"><p class="text-xl">{{item.quantity}}</p>
                        </td>
                        <td class="pb-[20px] px-[16px] w-[140px] border-r text-right border-slate-500"><p class="text-xl">
                            {{(item.stockOBJ.sellingPrice).toFixed(2)}}</p></td>
                       <!--  <td class="pb-[20px] px-[5px] w-[40px] border-r text-center border-slate-500"><p class="text-xl">
                            {{((item.discount/item.stockOBJ.sellingPrice)*100).toFixed(2)+"%"}}</p></td> -->
                        <td class="pb-[20px] px-[16px] w-[150px] text-right"><p class="text-xl">
                            {{(item.netAmount).toFixed(2)}}</p></td>
                    </tr>
                    <tr class="">
                        
                        <td class="no-size-limit font-semibold h-[150px] pt-[15px] pb-[20px] mt-[12px] w-[55%] absolute left-[100px]  px-[10px] border-black border-y border-x text-left "
                            >
                            <div ><p class="text-xl ">NOTE
                                <br>
                                Conditions: Payment should be made by crossed cheques payable to
                                the Account of "Comfort
                                Linen Co (PVT) LTD."
                            </p></div>
                            
                        </td>
                        <td class="pb-[20px] px-[16px] text-right font-semibold" colspan="3"><p class="text-xl">Sub Total</p></td>
                        <td class="pb-[20px] px-[16px] border-b border-x  border-slate-500 text-right"><p class="text-xl">
                            {{(this.total).toFixed(2)}}</p></td>
                    </tr>
                    
                    <!-- Discount Row -->
                    <tr class="w-[150px]">
                        <td class="pb-[20px] px-[16px] text-right font-semibold" colspan="4"> <p class="text-xl">Total Discount</p></td>
                        <td class="pb-[20px] px-[16px] border-b border-x border-slate-500 text-right "> <p class="text-xl">
                            {{(this.totalDiscount).toFixed(2)}}</p></td>
                    </tr>



                    <!-- Paid Amount Row -->
                    <tr class="w-[150px]">
                        <td class="pb-[20px] px-[16px] text-right font-semibold" colspan="4"> <p class="text-xl">Advance</p></td>
                        <td class="pb-[20px] px-[16px] border-b border-x border-slate-500 text-right"><p class="text-xl"> {{ (paidAmount
                            ||
                            0).toFixed(2) }}</p></td>
                    </tr>


                    <!-- Balance Row -->
                    <tr class=" w-[150px] ">
                        <td class="pb-[20px] px-[16px]" colspan="2"></td>
                        <td class="bg-slate-100 pb-[20px] px-[16px] text-right font-semibold text-[18px]" colspan="2"><p class="text-xl">Balance</p></td>
                        <td
                            class="bg-slate-100 pb-[20px] px-[16px] border-b border-x border-slate-500 text-right font-semibold text-[18px]"><p class="text-xl">
                             {{((this.total-(paidAmount||0))).toFixed(2)}}</p></td>
                    </tr>
                </tbody>
            </table>


           <div class="mt-[85px] flex flex-row justify-between text-xl">
                <div class=" font-semibold text-center mt-[30px] pt-[16px] ">
                    <div>------------------------</div>
                    <div><p class="text-xl">Prepared By</p></div>
                </div>
                <div class=" font-semibold text-center mt-[30px] pt-[16px] ">
                    <div>------------------------</div>
                    <div><p class="text-xl">Approved By</p></div>
                </div>
                <div class=" font-semibold text-center mt-[30px] pt-[16px] ">
                    <div>------------------------</div>
                    <div><p class="text-xl">Received By</p></div>
                </div>
            </div>
            <div
                class=" font-semibold text-xl text-center mb-[10px] mt-[100px] flex flex-col items-center justify-center uppercase">
                <img src="../../../../assets/invoice/thanku.png" class=" h-[20px]" alt="">

        </div>


        </div>
    </div>
</ng-container>