<ng-container class="grid">
    <!-- InvoiceTemplate -->
    <div class="">
        <div class="w-full h-auto p-[12px] relative">
            <div
                class="relative flex flex-row h-[160px] py-[8px] px-[10px] mb-[25px] justify-between gap-[8px] bg-slate-100">
                <div class="flex flex-row gap-[10px] items-center pb-[30px]">
                    <div class="w-[80px] h-[80px]">
                        <img src="../../../assets/logo/logo2.png" alt="company-logo"
                            class="w-full h-full object-contain" />
                    </div>

                    <div class="h-[100px] flex flex-col items-center justify-center mb-[10px]">
                        <div class="uppercase text-[26px] font-thin">COMFORT LINEN COMPANY (PVT) LTD</div>
                        <div class="text-[20px] pb-[5px]">Manufacturer of quilt & bed Linen</div>
                    </div>

                </div>

                <div class="flex items-center justify-center w-[220px] pb-[30px]">
                    <img src="../../../../assets/icons/cherryb.png" alt="cherryb-logo" class="object-contain" />
                </div>
                <div class="text-left left-[100px] w-[560px] 
                      pb-[15px] pt-[15px] justify-center 
                     items-center absolute bottom-[5px] font-semibold text-sm">

                    <div>
                        Office : #33/24, Hekitta Lane, Wattala | Tel: 011-2985400 |
                        Hot Line: 076-1382156 |Email :
                        info&#64;comfortlinenlk.com | www.cherryb.co
                    </div>
                </div>
            </div>



            <div class="flex items-center justify-between mb-[30px]">
                <div class="flex flex-col gap-y-[10px]">
                    <div class="flex flex-row">
                        <p class="text-[14px] font-semibold">Billed to: </p>
                        <p class="text-[14px] uppercase"> {{this.selectedCustomer.custName}}</p>
                    </div>

                    <div class="flex flex-row">
                        <p class="text-[14px] font-semibold">Address: </p>
                        <p class="text-[14px]">{{this.selectedCustomer.address}}</p>
                    </div>
                    <div class="flex flex-row">
                        <p class="text-[14px] font-semibold">Contact: </p>
                        <p class="text-[14px]">{{this.selectedCustomer.contact}}</p>
                    </div>
                    <div class="flex flex-row">
                        <p class="text-[14px] font-semibold">Email: </p>
                        <p class="text-[14px]"> {{this.selectedCustomer.email}}</p>
                    </div>

                </div>
                <div class="text-center flex items-center justify-center w-[180px]">
                    <img src="../../../../assets/invoice/Screenshot 2024-10-02 212843.png" alt="">
                </div>
                <div class="flex flex-col gap-y-[10px] text-right">
                    <div class="flex flex-row">
                        <p class="text-[14px]">Invoice No:</p>
                        <h1 class="text-[14px] font-semibold">{{this.invoiceNumber}}</h1>
                    </div>
                    <div class="flex flex-row">
                        <p class="text-[14px]">Invoice Date:</p>
                        <h1 class="text-[14px] font-semibold">{{this.today}}</h1>
                    </div>
                    <div class="flex flex-row">
                        <p class="text-[14px]">Invoice Time:</p>
                        <h1 class="text-[14px] font-semibold">{{getInvoiceTime()}}</h1>
                    </div>

                </div>
            </div>

            <table class="w-full text-[25px]">
                <thead class="bg-slate-100 text-black border border-slate-500 ">
                    <tr>
                        <th class="py-[16px] px-[5px] w-[40px] text-left">REF</th>
                        <th class="py-[13px] px-[16px] text-left">DESCRIPTION</th>
                        <th class="py-[13px] px-[10px] w-[50px] text-left">QTY</th>
                        <th class="py-[13px] px-[16px] w-[100px] text-left">UNIT PRICE</th>
                        <th class="py-[13px] px-[5px] w-[40px] text-left">
                            DISCOUNT
                        </th>
                        <th class="py-[13px] px-[16px] w-[150px] text-center">TOTAL</th>
                    </tr>
                </thead>
                <tbody class="font-semibold">
                    <tr *ngFor="let item of this.productCartItems ;let i = index"
                        class="border-b border-l border-r border-slate-500">
                        <td class="py-[16px] px-[5px] border-r text-center border-slate-500">#{{i+1}}</td>
                        <td class="py-[16px] px-[16px] border-r border-slate-500">{{item.stockOBJ.itemName}}</td>
                        <td class="py-[16px] px-[5px] w-[40px] text-center border-r border-slate-500">{{item.quantity}}
                        </td>
                        <td class="py-[16px] px-[16px] w-[120px] border-r text-right border-slate-500">Rs
                            {{(item.stockOBJ.sellingPrice).toFixed(2)}}</td>
                        <td class="py-[16px] px-[5px] w-[40px] border-r text-center border-slate-500">
                            {{((item.discount/item.stockOBJ.sellingPrice)*100).toFixed(2)+"%"}}</td>
                        <td class="py-[16px] px-[16px] w-[150px] text-right">Rs
                            {{(item.netAmount).toFixed(2)}}</td>
                    </tr>
                    <tr class="">
                        <!-- <td class="py-[16px] px-[16px] text-right font-semibold h-[30px]" colspan="2"><img src="../../../../assets/invoice/condition.png" alt=""></td> -->
                        <td class="h-[120px] w-[50%] absolute left-[100px] my-5 py-[15px] px-[10px] border-black border-y border-x text-left "
                            colspan="2">
                            <div><b class="font-extrabold">NOTE</b>
                                <br>
                                Conditions: Payment should be made by crossed cheques payable to
                                the Account of "Comfort
                                Linen Co (PVT) LTD."
                            </div>
                        </td>
                        <td class="py-[16px] px-[16px] text-right font-semibold" colspan="4">Sub Total</td>
                        <td class="py-[16px] px-[16px] border-b border-x  border-slate-500 text-right">Rs
                            {{(this.total).toFixed(2)}}</td>
                    </tr>
                    <!--  <tr class="w-[150px]">
                        <td class="py-[16px] px-[16px] text-right font-semibold" colspan="5">Sub Total</td>
                        <td class="py-[16px] px-[16px] border-b border-x  border-slate-500 text-right">Rs
                            {{(this.total).toFixed(2)}}</td>
                    </tr> -->
                    <!-- Discount Row -->
                    <tr class="w-[150px]">
                        <td class="py-[16px] px-[16px] text-right font-semibold" colspan="5">Total Discount</td>
                        <td class="py-[16px] px-[16px] border-b border-x border-slate-500 text-right ">Rs
                            {{(this.totalDiscount).toFixed(2)}}</td>
                    </tr>



                    <!-- Paid Amount Row -->
                    <tr class="w-[150px]">
                        <td class="py-[16px] px-[16px] text-right font-semibold" colspan="5">Advance</td>
                        <td class="py-[16px] px-[16px] border-b border-x border-slate-500 text-right">Rs {{ (paidAmount
                            ||
                            0).toFixed(2) }}</td>
                    </tr>


                    <!-- Balance Row -->
                    <tr class=" w-[150px] bg-slate-100">
                        <td class="py-[16px] px-[16px] text-right font-semibold text-[18px]" colspan="5">Balance</td>
                        <td
                            class="py-[16px] px-[16px] border-b border-x border-slate-500 text-right font-semibold text-[18px]">
                            Rs {{((this.total-(paidAmount||0))).toFixed(2)}}</td>
                    </tr>
                </tbody>
            </table>

            <!--  <div class="flex flex-col items-end mt-[16px]">
                <div class="w-[500px] px-[16px]">
                    <div class="flex items-baseline justify-between">
                        <div class="w-[300px] pl-[100px]">
                            <p class="text-[14px]">Sub Total:</p>
                        </div>
                        <div class="w-[200px] pl-[16px]">
                            <p class="text-[14px] text-left">Rs {{(this.total).toFixed(2)}}</p>
                        </div>
                    </div>
                </div>
                <div class="w-[500px] px-[16px]">
                    <div class="flex items-baseline justify-between">
                        <div class="w-[300px] pl-[100px]">
                            <p class="text-[14px]">Advance:</p>
                        </div>
                        <div class="w-[200px] pl-[16px]">
                            <p class="text-[14px] text-left">Rs {{ (paidAmount || 0).toFixed(2) }}</p>
                        </div>
                    </div>
                </div>
                <div class="w-[500px] px-[16px]">
                    <div class="flex items-baseline justify-between">
                        <div class="w-[300px] pl-[100px]">
                            <p class="text-[14px]">Discount:</p>
                        </div>
                        <div class="w-[200px] pl-[16px]">
                            <p class="text-[14px] text-left">$10</p>
                        </div>
                    </div>
                </div>
                <div class="w-[500px] px-[16px] flex flex-col">
                    <div class="flex flex-row items-center justify-between ">
                        <div class="w-[300px] pl-[100px]  ">
                            <p class="text-[18px] font-semibold">Balance:</p>
                        </div>
                        <div class="w-[200px] pl-[16px] ">
                            <p class="text-[18px] font-semibold text-left">Rs
                                {{((this.total-(paidAmount||0))).toFixed(2)}}</p>
                        </div>

                    </div>


                </div>
            </div> -->
            <div class="mt-[30px] flex flex-row justify-between">
                <div class=" font-semibold text-center mt-[30px] pt-[16px] ">
                    <div>------------------------</div>
                    <div>Prepared By</div>
                </div>
                <div class=" font-semibold text-center mt-[30px] pt-[16px] ">
                    <div>------------------------</div>
                    <div>Approved By</div>
                </div>
                <div class=" font-semibold text-center mt-[30px] pt-[16px] ">
                    <div>------------------------</div>
                    <div>Received By</div>
                </div>
            </div>
            <p
                class=" font-semibold text-lg text-center mb-[16px] mt-[100px] flex flex-col items-center justify-center uppercase">
                Thank you!

            </p>


        </div>
    </div>
</ng-container>