<div class="main-container-userform bg-neutral-200 shadow-2xl flex flex-col items-center justify-center ">
    <!-- <img src="../../../../assets/logo/logoo.png" class="pt-5" width="90px">  -->
    <div mat-dialog-title class=" text-sm ">
        {{this.data.title}} Invoice Data
    </div>

    <div mat-dialog-content class="mat overflow-hidden">
        <form [formGroup]="invoiceForm" class="overflow-hidden flex flex-col" (ngSubmit)="selectOperation()">
            <!-- <div class="flex flex-row gap-2 ">  -->
            <mat-form-field class="cdk-visually-hidden">
                <mat-label> Id </mat-label>
                <input matInput formControlName="tempInvoiceId" type="text" class="" />
            </mat-form-field>

            <!-- </div> -->
            <mat-form-field class="">
                <mat-label> Invoice Number </mat-label>
                <input matInput formControlName="tempInvoiceNumberRef" type="text" class="" />
            </mat-form-field>
            <!-- <mat-form-field class="cdk-visually-hidden">
            <mat-label > Invoice Number </mat-label>
            <input readonly matInput formControlName="tempInvoiceNumber"  type="number" class=""/>
            </mat-form-field> -->


            <mat-form-field class="cdk-visually-hidden">
                <mat-label>MM/DD/YYYY</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="date">
                <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>


            <mat-form-field class="cdk-visually-hidden">
                <mat-label> Net Amount </mat-label>
                <input readonly matInput formControlName="netAmount" type="number" step=".01" class="" />
                <mat-error *ngIf="invoiceForm.get('netAmount')?.errors">This field is required!</mat-error>
            </mat-form-field>

            <mat-form-field class="">
                <mat-label>Customer</mat-label>
                <input type="text" placeholder="Customer" matInput formControlName="customerOBJ"
                    [formControl]="customerControl" [matAutocomplete]="auto">
                <mat-error *ngIf="invoiceForm.get('customerOBJ')?.errors">This field is required!</mat-error>
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
                    [displayWith]="displayCustomerName.bind(this)">
                    <mat-option *ngFor="let aCust of filterOptions | async" [value]="aCust.custId">
                        {{aCust.custId}} | {{aCust.custName}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>



            <div mat-dialog-actions class="button-wrapper flex flex-row" align="center">
                <button mat-flat-button color="primary" class="save" type="submit">
                    {{data.title}}
                </button>
                <!-- <button mat-flat-button color="basic"  class="save" type="button">
                   cancel
               </button> -->
            </div>
        </form>
    </div>



</div>