<!-- <div class="flex flex-col">
    <div class="table-cont flex justify-center">
        <ag-grid-angular class="ag-theme-alpine user-table cursor-pointer" [paginationAutoPageSize]="true"
            style=" height: 58vh; width:76vw;" [rowData]="rowData$ | async" [columnDefs]="columnDef"
            [rowSelection]="rowSelection" [pagination]="true" (cellClicked)="onCellClicked($event)"
            (gridReady)="onGridReady($event)">
        </ag-grid-angular>
    </div>
    <div class="flex flex-col justify-center align-items-center">
        <button class=" w-[25%]" mat-raised-button color="warn" (click)="makePayment()">Make a payment</button>
    </div>
</div> -->
<div class="flex flex-col items-center justify-center w-full h-full">
    <div class="table-cont flex justify-center w-full">
        <ag-grid-angular class="ag-theme-alpine user-table cursor-pointer" [paginationAutoPageSize]="true"
            style="height: 58vh; width: 15vw;" [rowData]="rowData$ | async" [columnDefs]="columnDef"
            [rowSelection]="rowSelection" [pagination]="true" (cellClicked)="onCellClicked($event)"
            (gridReady)="onGridReady($event)">
        </ag-grid-angular>
    </div>
    <div class="flex flex-col items-center justify-center mt-4 w-full">
        <button class="min-w-[25%] w-auto" mat-raised-button color="warn" (click)="makePayment()">Make a
            payment</button>
    </div>
</div>