<!-- <button mat-button class="w-[8rem] h-[1rem]" color="accent" (click)="makePayment()">Payment<mat-icon class="">payment</mat-icon></button> -->
<div class="flex flex-col mt-1 w-[10rem] h-[30px] justify-center border-solid border-black">
    <div  class="bg-[#FFFED3] flex flex-row justify-center items-center text-sm text-center font-semibold rounded-md cursor-pointer h-full w-full" 
        (click)="makePayment()">
        <span class="material-symbols-outlined">
            request_quote
            </span>
        <span class="text-black">Make Payment </span>
    </div>
 
</div>